In [2]:
#this series for python revision
#single line comment
"""
This is a comment
written in
more than just one line
"""
print("hello world")

hello world

In [3]:
#python variable
x=5
y="Vikram"
print(x,y)

5 Vikram

In [5]:
#casting
#If you want to specify the data type of a variable, this can be done with casting.
x=int(3)
y=str(5)
z=float(1)
print(x,y,z)

3 5 1.0

In [6]:
#get the type
print(type(x),type(y),type(z))

<class 'int'> <class 'str'> <class 'float'>

In [7]:
# Single or Double Quotes?
# String variables can be declared either by using single or double quotes:
x='vikram'
y='rana'
print(x,y)

vikram rana

In [14]:
# Case sensative
# python variable are case sensative
a=4
A='Ram'
print(a,"and   "  +A+" are the result from different variable")

4 and   Ram are the result from different variable

In [15]:
# Many Values to Multiple Variables
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [17]:
# One Value to Multiple Variables
x= y= z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [18]:
# Unpack a Collection
# If you have a collection of values in a list, tuple etc. Python allows you to extract the values into variables. This is called unpacking

fruits=['apple','banana','mango']
x,y,z=fruits
print(x)
print(y)
print(z)

apple
banana
mango

In [19]:
#python output variable
print("I am output variable")

I am output variable

In [22]:
# Global Variables
# Variables that are created outside of a function (as in all of the examples above) are known as global variables.

# Global variables can be used by everyone, both inside of functions and outside

x='awsome'
def myfun():
    print("python is ",x)
    
myfun()

python is  awsome

In [24]:
#global keyword
# Normally, when you create a variable inside a function, that variable is local, and can only be used inside that function.

# To create a global variable inside a function, you can use the global keyword.un

def myfun():
    global x
    x=10
    print(x, "I am the result of global variable")
    
myfun()

10 I am the result of global variable

In [26]:
# To change the value of a global variable inside a function, refer to the variable by using the global keyword:
x="awsome"
def myfun():
    global x
    x="fantastic"
    print(" I am the result of global variable",x)
    
myfun()

 I am the result of global variable fantastic

In [28]:
#python data types
# Built-in Data Types
"""Python has the following data types built-in by default, in these categories:
Text Type:	str
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	set, frozenset
Boolean Type:	bool
Binary Types:	bytes, bytearray, memoryview
None Type:	NoneType"""

'Python has the following data types built-in by default, in these categories:\n/t\nText Type:\tstr\nNumeric Types:\tint, float, complex\nSequence Types:\tlist, tuple, range\nMapping Type:\tdict\nSet Types:\tset, frozenset\nBoolean Type:\tbool\nBinary Types:\tbytes, bytearray, memoryview\nNone Type:\tNoneType'

In [30]:
#setting  the specific data type
x=str("hello world")
print(x, type(x))
y=int

hello world <class 'str'>

In [32]:
#python numbers
"""There are three numeric types in Python:

int
float
complex
"""
x = 1    # int
y = 2.8  # float
z = 1j   # complex
# To verify the type of any object in Python, use the type() function:
print(type(x))
print(type(y))
print(type(z))

# Type Conversion
# You can convert from one type to another with the int(), float(), and complex() methods:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>
1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [35]:
# Random Number
# Python does not have a random() function to make a random number, but Python has a built-in module called random that can be used to make random numbers:
import random

print(random.randrange(1, 10))

6

In [36]:
#strings
# string are the collection of characters written in single quote or double quote
a="this is my string"
b='This is also my strings'
print(a,b)

this is my string This is also my strings

In [37]:
# multiline strings
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [38]:
#strings are arrays
# Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.

# However, Python does not have a character data type, a single character is simply a string with a length of 1.

# Square brackets can be used to access elements of the string.
a = "Hello, World!"
print(a[1])

e

In [39]:
# Looping Through a String
# Since strings are arrays, we can loop through the characters in a string, with a for loop.
for x in "banana":
  print(x)

b
a
n
a
n
a

In [40]:
# String Length
# To get the length of a string, use the len() function.
a = "Hello, World!"
print(len(a))

13

In [41]:
# Check String
# To check if a certain phrase or character is present in a string, we can use the keyword in.
txt = "The best things in life are free!"
print("free" in txt)

True

In [42]:
# Use it in an if statement:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [43]:
# Check if NOT
# To check if a certain phrase or character is NOT present in a string, we can use the keyword not in.
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [44]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

In [46]:
# Use it in an if statement:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

In [47]:
# slicing
# You can return a range of characters by using the slice syntax.

# Specify the start index and the end index, separated by a colon, to return a part of the string.
# Get the characters from position 2 to position 5 (not included):
b = "Hello, World!"
print(b[2:5])

llo

In [48]:
# Slice From the Start
b = "Hello, World!"
print(b[:5])

Hello

In [49]:
# Slice To the End
# By leaving out the end index, the range will go to the end:
b = "Hello, World!"
print(b[2:])

llo, World!

In [50]:
# Negative Indexing
# Use negative indexes to start the slice from the end of the string:
b = "Hello, World!"
print(b[-5:-2])

orl

In [59]:
#modify strings
# upper case
a="this is my string"
print(a.upper())
# lower case
print(a.lower())
#Remove whitespace
# The strip() method removes any whitespace from the beginning or the end:
b="  this is my second string"
print(a.strip())
print(b.strip())

#replace string
# The replace() method replaces a string with another string:
a = "Hello, World!"
print(a.replace("H", "J"))

# Split String

# The split() method returns a list where the text between the specified separator becomes the list items.
a = "Hello, World!"
print(a.split(","))
# String Concatenation
a,b="Hello","Vikram"
print(a+" "+b)
#format strings
# As we learned in the Python Variables chapter, we cannot combine strings and numbers like this:

age = 36
txt = "My name is John, I am " + age
print(txt)

THIS IS MY STRING
this is my string
this is my string
this is my second string
Jello, World!
['Hello', ' World!']
Hello Vikram

TypeError: can only concatenate str (not "int") to str

In [62]:
# Use the format() method to insert numbers into strings:
age=26
txt="My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 26

In [63]:
# The format() method takes unlimited number of arguments, and are placed into the respective placeholders:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [64]:
# You can use index numbers {0} to be sure the arguments are placed in the correct placeholders:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {2} pieces of item {0} for {1} dollars."
print(myorder.format( itemno, price,quantity,))

I want 3 pieces of item 567 for 49.95 dollars.

In [65]:
# Escape Character
# To insert characters that are illegal in a string, use an escape character.

# An escape character is a backslash \ followed by the character you want to insert.

# An example of an illegal character is a double quote inside a string that is surrounded by double quotes:
txt = "We are the so-called \"Vikings\" from the north."

In [66]:
#escape characters
"""\'	Single Quote	
\\	Backslash	
\n	New Line	
\r	Carriage Return	
\t	Tab	
\b	Backspace	
\f	Form Feed	
\ooo	Octal value	
\xhh	Hex value	
"""

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 118-119: truncated \xXX escape (3692478929.py, line 11)

In [67]:
#string methods
"""capitalize()	Converts the first character to upper case
casefold()	Converts string into lower case
center()	Returns a centered string
count()	Returns the number of times a specified value occurs in a string
encode()	Returns an encoded version of the string
endswith()	Returns true if the string ends with the specified value
expandtabs()	Sets the tab size of the string
find()	Searches the string for a specified value and returns the position of where it was found
format()	Formats specified values in a string
format_map()	Formats specified values in a string
index()	Searches the string for a specified value and returns the position of where it was found
isalnum()	Returns True if all characters in the string are alphanumeric
isalpha()	Returns True if all characters in the string are in the alphabet
isascii()	Returns True if all characters in the string are ascii characters
isdecimal()	Returns True if all characters in the string are decimals
isdigit()	Returns True if all characters in the string are digits
isidentifier()	Returns True if the string is an identifier
islower()	Returns True if all characters in the string are lower case
isnumeric()	Returns True if all characters in the string are numeric
isprintable()	Returns True if all characters in the string are printable
isspace()	Returns True if all characters in the string are whitespaces
istitle()	Returns True if the string follows the rules of a title
isupper()	Returns True if all characters in the string are upper case
join()	Joins the elements of an iterable to the end of the string
ljust()	Returns a left justified version of the string
lower()	Converts a string into lower case
lstrip()	Returns a left trim version of the string
maketrans()	Returns a translation table to be used in translations
partition()	Returns a tuple where the string is parted into three parts
replace()	Returns a string where a specified value is replaced with a specified value
rfind()	Searches the string for a specified value and returns the last position of where it was found
rindex()	Searches the string for a specified value and returns the last position of where it was found
rjust()	Returns a right justified version of the string
rpartition()	Returns a tuple where the string is parted into three parts
rsplit()	Splits the string at the specified separator, and returns a list
rstrip()	Returns a right trim version of the string
split()	Splits the string at the specified separator, and returns a list
splitlines()	Splits the string at line breaks and returns a list
startswith()	Returns true if the string starts with the specified value
strip()	Returns a trimmed version of the string
swapcase()	Swaps cases, lower case becomes upper case and vice versa
title()	Converts the first character of each word to upper case
translate()	Returns a translated string
upper()	Converts a string into upper case
zfill()	Fills the string with a specified number of 0 values at the beginning

"""

'capitalize()\tConverts the first character to upper case\ncasefold()\tConverts string into lower case\ncenter()\tReturns a centered string\ncount()\tReturns the number of times a specified value occurs in a string\nencode()\tReturns an encoded version of the string\nendswith()\tReturns true if the string ends with the specified value\nexpandtabs()\tSets the tab size of the string\nfind()\tSearches the string for a specified value and returns the position of where it was found\nformat()\tFormats specified values in a string\nformat_map()\tFormats specified values in a string\nindex()\tSearches the string for a specified value and returns the position of where it was found\nisalnum()\tReturns True if all characters in the string are alphanumeric\nisalpha()\tReturns True if all characters in the string are in the alphabet\nisascii()\tReturns True if all characters in the string are ascii characters\nisdecimal()\tReturns True if all characters in the string are decimals\nisdigit()\tReturns True if all characters in the string are digits\nisidentifier()\tReturns True if the string is an identifier\nislower()\tReturns True if all characters in the string are lower case\nisnumeric()\tReturns True if all characters in the string are numeric\nisprintable()\tReturns True if all characters in the string are printable\nisspace()\tReturns True if all characters in the string are whitespaces\nistitle()\tReturns True if the string follows the rules of a title\nisupper()\tReturns True if all characters in the string are upper case\njoin()\tJoins the elements of an iterable to the end of the string\nljust()\tReturns a left justified version of the string\nlower()\tConverts a string into lower case\nlstrip()\tReturns a left trim version of the string\nmaketrans()\tReturns a translation table to be used in translations\npartition()\tReturns a tuple where the string is parted into three parts\nreplace()\tReturns a string where a specified value is replaced with a specified value\nrfind()\tSearches the string for a specified value and returns the last position of where it was found\nrindex()\tSearches the string for a specified value and returns the last position of where it was found\nrjust()\tReturns a right justified version of the string\nrpartition()\tReturns a tuple where the string is parted into three parts\nrsplit()\tSplits the string at the specified separator, and returns a list\nrstrip()\tReturns a right trim version of the string\nsplit()\tSplits the string at the specified separator, and returns a list\nsplitlines()\tSplits the string at line breaks and returns a list\nstartswith()\tReturns true if the string starts with the specified value\nstrip()\tReturns a trimmed version of the string\nswapcase()\tSwaps cases, lower case becomes upper case and vice versa\ntitle()\tConverts the first character of each word to upper case\ntranslate()\tReturns a translated string\nupper()\tConverts a string into upper case\nzfill()\tFills the string with a specified number of 0 values at the beginning\n\n'

In [69]:
# boolean values
#true false
print(10 > 9)
print(10 == 9)
print(10 < 9)

a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

True
False
False
b is not greater than a

In [70]:
# Evaluate Values and Variables
# The bool() function allows you to evaluate any value, and give you True or False in return,
print(bool("Hello"))
print(bool(15))

True
True

In [71]:
# Python Operators
# Operators are used to perform operations on variables and values.

# In the example below, we use the + operator to add together two values:
"""
Python divides the operators in the following groups:

Arithmetic operators
Assignment operators
Comparison operators
Logical operators
Identity operators
Membership operators
Bitwise operators"""

'\nPython divides the operators in the following groups:\n\nArithmetic operators\nAssignment operators\nComparison operators\nLogical operators\nIdentity operators\nMembership operators\nBitwise operators'

In [72]:
# Python Arithmetic Operators
Operator	Name	Example	Try it
+	Addition	x + y	
-	Subtraction	x - y	
*	Multiplication	x * y	
/	Division	x / y	
%	Modulus	x % y	
**	Exponentiation	x ** y	
//	Floor division	x // y

SyntaxError: invalid syntax (3288156374.py, line 2)

In [74]:
# python list
mylist = ["apple", "banana", "cherry"]
print(mylist)

['apple', 'banana', 'cherry']

In [75]:
# Lists are used to store multiple items in a single variable.

# Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

# Lists are created using square brackets:
# List Items
# 
# List items are ordered, changeable, and allow duplicate values.

# List items are indexed, the first item has index [0], the second item has index [1] etc.


# list length
print(len(mylist))

3

In [76]:
# The list() Constructor
# Using the list() constructor to make a List
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

In [78]:
# Access Items
# List items are indexed and you can access them by referring to the index number:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])
print(thislist[2])
print(thislist[0])

banana
cherry
apple

In [79]:
# Negative Indexing
# Negative indexing means start from the end

# -1 refers to the last item, -2 refers to the second last item etc.
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

In [80]:
#range of indexes
# You can specify a range of indexes by specifying where to start and where to end the range.

# When specifying a range, the return value will be a new list with the specified items.
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [81]:
# Change List Items
# To change the value of a specific item, refer to the index number:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [82]:
# Change the values "banana" and "cherry" with the values "blackcurrant" and "watermelon":
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [84]:
# Insert Items
# To insert a new list item, without replacing any of the existing values, we can use the insert() method.

# The insert() method inserts an item at the specified index:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)
thislist.insert(3,'chikoo')
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']
['apple', 'banana', 'watermelon', 'chikoo', 'cherry']

In [85]:
# Append Items
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [86]:
#extend
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [87]:
# Remove Specified Item
# The remove() method removes the specified item.
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [90]:
# Remove Specified Index
# The pop() method removes the specified index.
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

# The del keyword also removes the specified index:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

#clear list items
thislist.clear()
print(thislist)

['apple', 'cherry']
['banana', 'cherry']
[]

In [93]:
# Loop Through a List
# You can loop through the list items by using a for loop:
# The del keyword also removes the specified index:
thislist = ["apple", "banana", "cherry"]
for i in thislist:
    print(i)
for j in range(len(thislist)):
    print(thislist[j])

apple
banana
cherry
apple
banana
cherry

In [94]:
# using while loop
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

In [97]:
#looping through list comprehension
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

In [98]:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

In [99]:
#list comprehension
# List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [100]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

In [102]:
# Condition
# The condition is like a filter that only accepts the items that valuate to True.
newlist = [x for x in fruits if x != "apple"]
print(newlist)

['banana', 'cherry', 'kiwi', 'mango']

In [108]:
mylist=[x for x in range(100) if x%5 ==0]
mylist

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [109]:
import string
alphabets=list(string.ascii_letters)

In [110]:
alphabets

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z',
 'A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [111]:
# Sort List Alphanumerically
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [113]:
# Sort the list numerically:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

In [114]:
# Sort Descending
# To sort descending, use the keyword argument reverse = True:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [115]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]

In [117]:
# Customize Sort Function
# You can also customize your own function by using the keyword 
# argument key = function.

# The function will return a number that will be used to sort the list (the lowest number first):
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

In [121]:
# Case Insensitive Sort
# Case sensitive sorting can give an unexpected result:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key=str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

In [125]:
# Copy a List
# You cannot copy a list simply by typing list2 = list1, because: list2 will only be a reference to list1, and changes made in list1 will automatically also be made in list2.
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)
second=["1","2","3"]
mylist.extend(second)
print(mylist)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry', '1', '2', '3']